{# Inline CSS file concatenate all the CSS assets and then injected in #}
{# base.njk template #}

{% include "css/framework/new.css" %}
{% include "css/framework/prism.css" %}
{% include "css/common/index.css" %}
{% include "css/common/material.css" %}
{% include "css/common/navbar.css" %}
{% include "css/common/comments.css" %}
{% include "css/common/kbd.css" %}
{% include "css/common/backToTopButton.css" %}
{% include "css/common/scrollbar.css" %}
{% include "css/common/pull.css" %}
{% include "css/common/posts.css" %}

{% if site.env === "dev" %}
    {% include "css/common/ribbon.css" %}
{% endif %}

{# Include a custom CSS when it is defined in the page data with the CSSFile property #}
{% if CSSFile %}
    {% include CSSFile %}
{% endif %}
