{% macro navbar(navPages, page) %}
<!--
   - Make the whole navbar clickable: It doesn't change anything on desktop
   - and makes it easier to open the menu on mobile
   -->
<nav class="topnav" id="header-navbar" onclick="navbarToggle()">
    <!--
       - Make use of the eleventyNavigation plugin, get the pages
       - with an eleventyNavigation section in their meta data
       -->

    {% set postPageRegex = r/^\/posts\/.*/g %}

    {% for i in range(0, navPages.length) %}
        {% set entry = navPages[i] %}
        {% set entryChildrenURLs = entry.children | join(";", "url") %}
        <!--
           - isCurrentPage is used to highlight the right entry in the navbar:
           -
           - UPDATE: Now that there is a home page things have been simplified
           - The individual posts and notes pages don't highlight a navbar entry anymore.
           - I'm not completely satisfied with that but for now it will work
           -->
        {% set isCurrentPage = entry.url == page.url %}
        <span class="nav-item {{'active' if isCurrentPage }}">
            <!--
               - When navbar is closed the link opens the navbar
               - When navbar is open the link actually navigates to the page
               -->
               <a class="nav-link {{'active' if isCurrentPage }}" href="#" onclick="navbarNavigate('{{ entry.url | url }}')" data-goatcounter-click="navbar-{{entry.title}}" data-goatcounter-referrer="{{page.url}}">{{ entry.title }}</a>
               <i class="nav-separator">♢</i>
        </span>
    {% endfor %}
    <span  style="cursor:pointer;" class="nav-item" onclick="toggleDarkTheme()" data-goatcounter-click="toggle-theme" data-goatcounter-referrer="{{page.url}}">◐</span>

    {# Hamburger button hidden on large screens #}
    <span class="icon hamburger"></span>
</nav>
{% endmacro %}
