{% macro navbar(navPages, page) %}
<!--
   - Make the whole navbar clickable: It doesn't change anything on desktop
   - and makes it easier to open the menu on mobile
   -->
<nav class="topnav" id="header-navbar" onclick="navbarToggle()">
    <!--
       - Make use of the eleventyNavigation plugin, get the pages
       - with an eleventyNavigation section in their meta data
       -->

    {% set postPageRegex = r/^\/posts\/.*/g %}

    {% for i in range(0, navPages.length) %}
        {% set entry = navPages[i] %}
        {% set entryChildrenURLs = entry.children | join(";", "url") %}
        <!--
           - isCurrentPage is used to highlight the right entry in the navbar:
           -
           - either the page url is the same as the entry e.g. the about page highlight the about entry
           - or the page url is in the children of the entry e.g. the posts are children of home
           -
           - in the second case we need to exlude the '/' at is it the url of the home page and not ignoring
           - it would highlight several entries for the same page
           -->
        {% set isCurrentPage = entry.url == page.url or (page.url != '/' and page.url in entryChildrenURLs) %}
        <span class="nav-item {{'active' if isCurrentPage }}">
            <!--
               - When navbar is closed the link opens the navbar
               - When navbar is open the link actually navigates to the page
               -->
               <a class="nav-link {{'active' if isCurrentPage }}" href="#" onclick="navbarNavigate('{{ entry.url | url }}')" data-goatcounter-click="navbar-{{entry.title}}" data-goatcounter-referrer="{{page.url}}">{{ entry.title }}</a>
               <i class="nav-separator">♢</i>
        </span>
    {% endfor %}
    <span  class="nav-item" onclick="toggleDarkTheme()" data-goatcounter-click="toggle-theme" data-goatcounter-referrer="{{page.url}}"><i class="fas fa-adjust"></i></span>

    {# Hamburger button hidden on large screens #}
    <span class="icon hamburger"></span>
</nav>
{% endmacro %}
