{% macro posts(posts, limit) %}
<div>
    <ul class="post-list">
    {%- for post in (posts | reverse).slice(0, limit) %}
        <li>
            <span class="post-date">{{ post.date | datePost }}&nbsp</span><a class="post-link" href="{{post.url}}">{{ post.data.title }}</a>
        </li>
    {%- endfor %}
    </ul>
</div>
{% endmacro %}
