{% macro posts(posts, limit) %}
{% if limit %}
    {% set _posts = (posts | reverse).slice(0, limit) %}
{% else %}
    {% set _posts = (posts | reverse) %}
{% endif %}

<div>
    <ul class="post-list">
    {%- for post in _posts %}
        <li>
            <span class="post-date">{{ post.date | datePost }}&nbsp</span><a class="post-link" href="{{post.url}}">{{ post.data.title }}</a>
        </li>
    {%- endfor %}
    </ul>
</div>
{% endmacro %}
