<!--
   - Remember to include the following line in the templates using this macro
   -     CSSFile: 'css/pages/projects.css'
   - I might have to rewrite CSSFile to CSSFiles to accept a list
   -->

{% macro projectcard(project) %}
<div class="project-card">
    {% set usedURL = project.demo_url or project.article_url or project.code_url or '#' %}
    <a href="{{usedURL}}" target="_blank" rel="noopener noreferrer" data-goatcounter-click="project-{{usedURL}}" data-goatcounter-referrer="{{page.url}}">
        <img class="project-img" loading="lazy" src="../{{project.image}}" />
    </a>
    <div class="text-overlay">
        <a href="{{usedURL}}" target="_blank" rel="noopener noreferrer" data-goatcounter-click="project-{{usedURL}}" data-goatcounter-referrer="{{page.url}}">
            <h3 class="project-title">{{project.name}}</h3>
        </a>
        <div class="project-description">{{project.description | safe}}</div>
        <p class="project-links">
            {% for link in project.links|sort(false, true, 'name') %}
                <a href="{{link.url}}" target="_blank" rel="noopener noreferrer" data-goatcounter-click="project-{{link.url}}" data-goatcounter-referrer="{{page.url}}">{{link.name | capitalize}}</a>
                {% if not loop.last %} - {% endif %}
            {% endfor %}
        </p>
    </div>
</div>
{% endmacro %}

{% macro projectboard(projects, limit) %}
{% if limit %}
    {% set _projects = projects.slice(0, limit) %}
{% else %}
    {% set _projects = projects %}
{% endif %}

<div class="projects-board">
    {% for project in _projects %}
        {{ projectcard(project) }}
    {% endfor %}
</div>
{% endmacro %}
