<!--
   - Remember to include the following line in the templates using this macro
   -     CSSFile: 'css/pages/projects.css'
   - I might have to rewrite CSSFile to CSSFiles to accept a list
   -->

{% macro projectcard(project) %}
<div class="project-card">
    {% set usedURL = project.demo_url or project.article_url or project.code_url or '#' %}
    <a href="{{usedURL}}" target="_blank" rel="noopener noreferrer" data-goatcounter-click="project-{{usedURL}}" data-goatcounter-referrer="{{page.url}}">
        <img class="project-img" loading="lazy" src="../{{project.image}}""/>
    </a>
    <div class="text-overlay">
        <a href="{{usedURL}}" target="_blank" rel="noopener noreferrer" data-goatcounter-click="project-{{usedURL}}" data-goatcounter-referrer="{{page.url}}">
            <h3 class="project-title">{{project.name}}</h3>
        </a>
        <div class="project-description">{{project.description | safe}}</div>
        <p class="project-links">
            {% if project.code_url %}
            <a href="{{project.code_url}}" target="_blank" rel="noopener noreferrer" data-goatcounter-click="project-{{project.code_url}}" data-goatcounter-referrer="{{page.url}}">Code</a>
            {% if project.demo_url or project.article_url %} - {% endif %}
            {% endif %}

            {% if project.demo_url %}
            <a href="{{project.demo_url}}" target="_blank" rel="noopener noreferrer" data-goatcounter-click="project-{{project.demo_url}}" data-goatcounter-referrer="{{page.url}}">Demo</a>
            {% if project.article_url %} - {% endif %}
            {% endif %}

            {% if project.article_url %}
            <a href="{{project.article_url}}" target="_blank" rel="noopener noreferrer" data-goatcounter-click="project-{{project.article_url}}" data-goatcounter-referrer="{{page.url}}">Article</a>
            {% endif %}
        </p>
    </div>
</div>
{% endmacro %}

{% macro projectboard(projects, limit) %}
{% if limit %}
    {% set _projects = projects.slice(0, limit) %}
{% else %}
    {% set _projects = projects %}
{% endif %}

<div class="projects-board">
    {% for project in _projects %}
        {{ projectcard(project) }}
    {% endfor %}
</div>
{% endmacro %}
