{% from 'macros/navbar.njk' import navbar %}

<!DOCTYPE html>
<html lang="en">
{% seo "" %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title | pageTitle}}</title>
    <meta name="description" content="A personal blog where I write about my side projects">
    <meta name="keywords" content="statox blog">
    {# This tag is required to appear on 11ty leaderboard https://www.11ty.dev/speedlify/ #}
    <meta name="generator" content="Eleventy">
    <meta property="og:title" content="The stuff I do">
    <meta property="og:url" content="https://www.statox.fr">
    <meta property="og:description" content="A personal blog where I write about my side projects">
    <meta property="og:type" content="website">

    {# Favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/favicon/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon/favicon-16x16.png' | url }}">
    <link rel="mask-icon" href="{{ '/favicon/safari-pinned-tab.svg' | url }}" color="#5bbad5">

    {% set inlineJS %}
          {% include "scripts/navbar.js" %}
          {% include "css/framework/new.js" %}
    {% endset %}
    <script>
        {{ inlineJS | safe }}
    </script>

    {# Custom css - Put after the javascript to avoid blocking JS with CSS loading #}
    {% set css %}
      {% include "main_css.njk" %}
    {% endset %}
    <style>
      {{ css | safe }}
    </style>
</head>
<body>
    <header>
        <h1>The stuff I do</h1>
        {% set navPages = collections.all | eleventyNavigation %}
        {{ navbar(navPages, page) }}
    </header>

    {% if site.env === "dev" %}
        <p class="ribbon" data-ribbon="Dev environment" title="Dev environment">Dev environment</p>
    {% endif %}

    <div class="content-container">
        {{ content | safe }}
    </div>

    <script data-goatcounter="https://statoxblog.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    {# Cool font - Put at the end of the page to avoid blocking HTML rendering #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/open-fonts@1.1.1/fonts/inter.min.css">
    <script src="https://kit.fontawesome.com/cc32401bee.js" crossorigin="anonymous"></script>
</body>
</html>
