---
layout: layouts/base.njk
templateClass: tmpl-chords
title: Chords
data: chords
---

<h2>Chords <a id="pullRightButton" href="https://github.com/statox/blog/blob/master/src/_data/chords.json" target="_blank" rel="noopener noreferrer"><button>Edit the list</button></a></h2>

{% set sortedChords = chords | sortChords | groupby("artist") %}
<div>
    <div id="viewer"></div>
    <table>
        <tr>
            <th>Artist</th>
            <th>Songs</th>
        </tr>
        {% for artist, chords in sortedChords %}
        <tr>
            <td>{{artist}}</td>
            <td>
                <ul>
                    {% for chord in chords %}
                    <li>
                        {% if '.doc' in chord.url %}
                        <span><a href="#" onclick="setupIframe('{{chord.url}}')">{{chord.title}}</a></span>
                        {% else %}
                        <span><a href="{{chord.url}}" target="_blank" rel="noopener noreferrer">{{chord.title}}</a></span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a class="top-link hide" href="" id="js-top">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M12 6H0l6-6z"/></svg>
        <span class="screen-reader-text">Back to top</span>
    </a>
</div>

{% set inlineJS %}
      {% include "scripts/backToTopButton.js" %}
{% endset %}

<script>
    {{ inlineJS | safe }}
    function setupIframe(url) {
        const iframeToAdd = `<iframe src='https://view.officeapps.live.com/op/embed.aspx?src=${url}' width='600px' height='800px' frameborder='0'>Document.</iframe>`
        document.getElementById('viewer').innerHTML = iframeToAdd;
    }
</script>
