---
layout: layouts/base.njk
templateClass: tmpl-home
CSSFile: 'css/pages/projects.css'
---

{% from 'macros/posts-list.njk' import posts %}
{% from 'macros/projects.njk' import projectboard %}

<div>
    <h3>Welcome to my corner of the internet!</h3>
    <br/>

    <p>
    I am statox, a software engineer since 2016. On this blog you can find <a href="/posts/">my technical writtings</a>, <a href="/projects/">my side projects</a> as well as <a href="/music/">other</a> <a href="/notes">stuff</a> I do.
    </p>
    <p>
    Check the <a href="/about/">About</a> page if you want to know more about me or this site.
    </p>
</div>


<div>
    <h3>Popular posts</h3>

    <p>The articles I wrote which attracted the most readings. Arguably the most interesting stuff I wrote.</p>
    {{ posts(collections.popularPosts) }}
</div>

<div>
    <h3>Latest posts</h3>

    {{ posts(collections.post, 7) }}
    <p><a href="/posts/">See all the {{ collections.post.length }} posts...</a></p>
</div>

<div>
    <h3>Latest projects</h3>

    {{ projectboard(projects, 2) }}
    <p><a href="/projects/">See all the {{ projects.length}} projects...</a></p>
</div>
