---
layout: layouts/base.njk
templateClass: tmpl-posts
---

<h2>Stuff I wrote</h2>

{# I want to show all the posts so I set a very high limit #}
{# This is a crappy workaround but for now it should be enough #}
{% from 'macros/posts-list.njk' import posts %}
{{ posts(collections, site.env, 10000, true) }}
