#pullRightButton {
    float: right;
}

td {
    vertical-align: top;
}

tr {
    border-bottom: solid thin;
    border-bottom-color: var(--nc-bg-0);
}

.navigationBar {
    position:fixed;
    z-index: 1000;
    width: 50px;
    top: 250px;
    bottom: 10px;
    right: 10px;
    padding: 0;
    background: var(--nc-bg-1);
    list-style: none;
    overflow-x: auto;
    display: inline-block;
}

.navigationBar.scrolled {
    top: 50px;
}

.navigationBtn {
    background: var(--nc-bg-0);
    text-align: center;
    height:50px;
    width:50px;
    border-radius: 5px;
}

.navigationLink {
    display: inline-block;
    height:40px;
    width:40px;
    line-height: 50px;
}

.hidden {
    display: none;
}

.fa-file-word {
    color: #1d5af4;
}

.fa-file-pdf {
    color: #e82236;
}

.fa-link {
    color: #727171;
}
